@using CarCareTracker.Helper
@inject IConfigHelper config
@inject ITranslationHelper translator
@model List<Note>
@{
    var userConfig = config.GetUserConfig(User);
    var userLanguage = userConfig.UserLanguage;
}
<div class="vehicleTabPane d-flex flex-column">
    <div class="d-flex justify-content-between my-2">
        <span class="badge bg-success">@($"{translator.Translate(userLanguage, "Trips")}: {Model.Count}")</span>
        <div class="lubelogger-record-add">
            <div class="btn-group">
                <button class="btn btn-primary btn-md mt-1 mb-1" onclick="showAddTripModal()"><i class="bi bi-pencil-square me-2"></i>@translator.Translate(userLanguage, "Add Trip")</button>
                <button type="button" class="btn btn-md btn-primary mt-1 mb-1 dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="visually-hidden">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu record-dropdown">
                    <li><a class="dropdown-item" href="#" onclick="$('#tripCsvUpload').click()">@translator.Translate(userLanguage, "Import via CSV")</a></li>
                </ul>
            </div>
            <input type="file" id="tripCsvUpload" accept=".csv" class="d-none" onchange="importTripsCsv(this)">
        </div>
    </div>
    <table class="table table-hover ll-responsive-table">
        <thead>
            <tr>
                <th>@translator.Translate(userLanguage, "Trip")</th>
                <th>@translator.Translate(userLanguage, "CSV Details")</th>
                <th>@translator.Translate(userLanguage, "Attachments")</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var trip in Model)
            {
                <tr style="cursor:pointer;" onclick="showEditTripModal(@trip.Id)">
                    <td data-label="@translator.Translate(userLanguage, "Trip")">@trip.Description</td>
                    <td data-label="@translator.Translate(userLanguage, "CSV Details")" style="white-space:pre-line;">@trip.NoteText</td>
                    <td data-label="@translator.Translate(userLanguage, "Attachments")">@await Html.PartialAsync("_AttachmentColumn", trip.Files)</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="modal fade" data-bs-focus="false" id="tripModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg"><div class="modal-content" id="tripModalContent"></div></div>
</div>
