@using CarCareTracker.Helper
@inject IConfigHelper config
@inject ITranslationHelper translator


<div class="row vehicleDetailTabContainer flex-grow-1">
    <div class="col-12">
        <div class="row mt-2 showOnPrint">
            <div class="d-flex">
                <img src="@config.GetLogoUrl()" class="lubelogger-logo" />
            </div>
        </div>
        <table class="table table-hover @(userConfig.UseGridInMobile ? "" : "ll-responsive-table")">
            <thead class="sticky-top">
                <tr class="d-flex">
                    <th scope="col" class="col-2 flex-grow-1 text-truncate" data-column="daterefueled">@translator.Translate(userLanguage, "Date Refueled")</th>
                    <th scope="col" class="col-2 flex-grow-1 flex-shrink-1 text-truncate" data-column="odometer">@($"{translator.Translate(userLanguage, "Odometer")}({distanceUnit})")</th>
                    <th scope="col" class="col-2 flex-grow-1 flex-shrink-1 text-truncate" data-column="fueltype">@translator.Translate(userLanguage, "Fuel Type")</th>
                    <th scope="col" class="col-1 flex-grow-1 flex-shrink-1 text-truncate" data-column="delta" style="cursor:pointer;" onclick="toggleSort('gas-tab-pane', this)">@($"Δ({distanceUnit})")</th>
                    <th scope="col" class="col-2 flex-grow-1 flex-shrink-1 text-truncate" data-column="consumption" data-gas="consumption" data-unit="@consumptionUnit" onclick="toggleSort('gas-tab-pane', this)" oncontextmenu="toggleUnits(this)" style="cursor:pointer;">@($"{translator.Translate(userLanguage, "Consumption")}({consumptionUnit})")</th>
                    <th scope="col" class="col-1 flex-grow-1 flex-shrink-1 text-truncate" data-column="energy">Energy (kWh)</th>
                    <th scope="col" class="col-1 flex-grow-1 flex-shrink-1 text-truncate" data-column="mass">Mass (kg)</th>
                    <th scope="col" class="col-3 flex-grow-1 flex-shrink-1 text-truncate" data-column="fueleconomy" data-gas="fueleconomy" data-unit="@fuelEconomyUnit" onclick="toggleSort('gas-tab-pane', this)" oncontextmenu="toggleUnits(this)" style="cursor:pointer;">@($"{@translator.Translate(userLanguage, "Fuel Economy")}({fuelEconomyUnit})")</th>
                    <th scope="col" class="col-1 flex-grow-1 flex-shrink-1 text-truncate" data-column="cost" onclick="toggleSort('gas-tab-pane', this)" style="cursor:pointer;">@translator.Translate(userLanguage, "Cost")</th>
                    <th scope="col" class="col-1 flex-grow-1 flex-shrink-1 text-truncate" data-column="co2">CO2 (kg)</th>
                    <th scope="col" class="col-2 flex-grow-1 flex-shrink-1 text-truncate" data-column="station">@translator.Translate(userLanguage, "Station")</th>
                    <th scope="col" class="col-1 flex-grow-1 flex-shrink-1 text-truncate" data-column="paymenttype">Zahlungsmethode</th>
                    <th scope="col" class="col-1 flex-grow-1 flex-shrink-1 text-truncate" data-column="unitcost" onclick="toggleSort('gas-tab-pane', this)" style="cursor:pointer;">@translator.Translate(userLanguage, "Unit Cost")</th>
                    <th scope="col" class="col-1 flex-grow-1 flex-shrink-1 text-truncate" style='display:none;' data-column="attachments">@translator.Translate(userLanguage, "Attachments")</th>
                    <th scope="col" class="col-3 flex-grow-1 flex-shrink-1 text-truncate" style='display:none;' data-column="notes">@translator.Translate(userLanguage, "Notes")</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
